.page {
  width: 500px;
  font-size: 175%;
  background-color: rgb(211, 208, 203);
  padding: 10px;
}

#article_title {
  font-family: Anton;
  letter-spacing:7px ;
  text-shadow: 2px 2px #FF0000;
  font-size: 160%;
  color:rgb(70, 18, 32);

}

#intro {
  font-family: Oswald;
  line-height: 50px;
  color:rgb(140, 47, 57);
}

.question{
  font-family: Raleway;
  font-weight: bolder;
  color:rgb(76, 87, 96);
}

.answer{
  font-family: Raleway;
  color:rgb(76, 87, 96);
}

#block_quote {
  font-family: Oswald;
  font-size: 150%;
  border-left: 2px solid gray;
  margin-left: 100px;
  color:rgb(140, 47, 57);

}
