
.cover {
  width: 350px;
  height: 500px;
  background-color: gray;
  padding: 10px;
  font-family: Source Code Pro;
  /* finish your styling of the cover div here! */
}

#title {
  font-size: 350%;
  width: 100%;
  text-align: center;
}

#subtitle {
  color: cyan;
  text-align: center;
  margin-left: 100px;
  opacity: .5;
}

#cover_image {
  margin-left: 40px;
  width: 250px;
  height: 150px; 
}
